{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

{% for msg in get_flashed_messages() %}
    <p>{{msg}}</p>
    <br>
    {% endfor %}
    <br>

    <div class="container pet-container">
        {% for pet in pets %}
        <img src="{{pet.photo_url}}">
        <h3><a href="/{{pet.id}}">{{pet.name}}</a></h3>

        <h4>{% if pet.available %}
            <b>Available</b>
            {% else %}
            <b>Unavailable</b>
            {% endif %}
        </h4>

        {% endfor %}
    </div>
    <br>
    <div class="container">
        <a class="btn btn-primary" href="/add">Add Pet</a>
    </div>
{% endblock %}